url = "/media-center/images/:id?|[a-zA-Z\-0-9]"
layout = "default"
title = "Gallery"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[jumbotron]
jumbotron = "under-construction"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0
==
<?php
use Pensoft\Media\Models\Galleries;
use Pensoft\Media\Models\Graphic;

function onStart(){
	$gallery_id = $this->param('id');
	$this['gallery'] = Galleries::where('id', $gallery_id)->first();
	$this['id'] = $gallery_id;

	// If no gallery found, redirect to media center
	if (!$this['gallery']) {
		return Redirect::to('/media-center#images');
	}
}
?>
==

<div class="container media-images-container images">
    <div class="row media_images news">
        <div class="col-md-12 col-xs-12 mb-2">
            <a href="/media-center#images" class="go-back-link">Back to Media Center</a>
        </div>

        {% if gallery and gallery.name %}
        <div class="col-md-12 col-xs-12 mb-3">
            <h2>{{ gallery.name }}</h2>
        </div>
        {% endif %}

        {% if gallery.images %}
        <div class="row">
            {% for k, image in gallery.images %}
            <div class="col-md-4 col-xs-12 home-news-records">
                <div class="row news-item">
                    <div class="col-md-12 col-xs-12 home-news-cover">
                        <a href="#" class="gallery-image-trigger" data-slide="{{ k + 1 }}">
                            <img src="{{ image.path}}" alt="{{ image.name }}">
                            <div class="btn zoom-btn btn-primary"><img src="{{'zoom.svg'|media}}" class="zoom_icon"></div>
                            <div class="blur_filter"></div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="control-popup modal" id="imagesModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" aria-label="Close gallery">
                            &times;
                        </button>
                        {% for k, image in gallery.images %}
                        <div class="slides">
                            <img src="{{ image.path}}" alt="{{ image.name }}" loading="lazy">
                        </div>
                        {% endfor %}
                        <!-- Next/previous controls -->
                        <a class="prev" role="button" aria-label="Previous image" tabindex="0"></a>
                        <a class="next" role="button" aria-label="Next image" tabindex="0"></a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-12 col-xs-12">
            <p>No images found in this gallery.</p>
        </div>
        {% endif %}
    </div>
</div>

