url = "/media-center"
layout = "default"
title = "Media center"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "media.jpg"

[siteSearchInclude]
==
<?php
use Pensoft\Media\Models\MediaLogos;
use Pensoft\Media\Models\Flyers;
use Pensoft\Media\Models\Presentations;
use Pensoft\Media\Models\Videos;
use Pensoft\Media\Models\VideosCategory;
use Pensoft\Media\Models\Galleries;
use Pensoft\Media\Models\Documents;

function onStart(){
	$this['logos'] =  MediaLogos::get();
	$this['flyers'] =  Flyers::get();
	$this['presentations'] =  Presentations::get();
	$this['videos'] =  Videos::with('category')->get();
	$this['videoCategories'] = VideosCategory::orderBy('sort_order')->get();
	$this['images'] =  Galleries::get();
	$this['documents'] =  Documents::get();
}
?>
==
{% component 'siteSearchInclude' %}

<div class="container-fluid menu-container">
    <div class="header-bg">
        <h1>Media center</h1>
    </div>
    <div class="container">
        <div class="row media_tabs">
                {% if logos.count() %}<a href="#brand-kit" class="about-menu-item">Brand kit</a>{% endif %}
                {% if flyers.count() %}<a href="#project-materials" class="about-menu-item">Project materials</a>{% endif %}
                {% if videos.count() %}<a href="#videos" class="about-menu-item">Videos</a>{% endif %}
                {% if images.count() %}<a href="#images" class="about-menu-item">Images</a>{% endif %}
        </div>

        <!--tabs content	-->
        {% if logos.count() %}
        <div class="row card-container-row start-xs logo center-xs-down" id="brand-kit">
            {% for record in logos %}
            {% spaceless %}
            {% if record.logo_image %}
            <div class="col-md-4 col-xs-12 center-xs mb-4">
                <div class="logo_container">
                    <div class="text-center">
                        <span class="card_image_container" style="background: url({{record.logo_image.thumb(321,217,{'mode':'crop'})}}) center center no-repeat;" title="{{record.name}}"></span>
                        <span class="card_title" style="min-height: 100px;">{{record.name}}</span>
                    </div>
                    <div class="col-xs-12">
                            {% partial 'site/download-link' file=record.file_jpg label='JPG' icon=true %}
                            {% partial 'site/download-link' file=record.file_png label='PNG' icon=true %}
                            {% partial 'site/download-link' file=record.file_eps label='SVG' icon=true %}
                            {% partial 'site/download-link' file=record.file_pdf label='PDF' icon=true %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% endspaceless %}

            {% endfor %}
        </div>
        {% endif %}


        {% if flyers.count() %}
        <div class="row card-container-row start-xs flyer center-xs-down" id="project-materials" style="display: none;">
            {% for record in flyers %}
            {% spaceless %}
            {% if record.flyer_image %}
            <div class="col-md-4 col-xs-12 center-xs mb-4">
                <div class="flyer_container">
                    <div class="text-center">
                        <span class="card_image_container" style="background: url({{record.flyer_image.thumb(321,217,{'mode':'crop'})}}) center center no-repeat;" title="{{record.name}}"></span>
                        <span class="card_title" style="min-height: 100px;">{{record.name}}</span>
                    </div>
                    <div class="col-xs-12">
                        <div class="text-center">
                            {% if record.file_lang_versions and record.file_lang_versions.count() %}
                                {% for langFile in record.file_lang_versions %}
                                    {% partial 'site/download-link'
                                        file=langFile
                                        class='btn btn-primary dwn-button'
                                        icon=true
                                        label=(langFile.title ?: 'Download ' ~ langFile.file_name|slice(0, 20)) %}
                                {% endfor %}
                            {% elseif record.file %}
                                {% partial 'site/download-link' file=record.file label='Download' icon=true %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% endspaceless %}

            {% endfor %}
        </div>
        {% endif %}



        {% if videos.count() %}
        <div class="row card-container-row center-xs-down" id="videos" style="display: none;">
            {% if videoCategories.count() %}
            <div class="col-xs-12 video_category_tabs" role="tablist">
                <button type="button" class="video_tab is-active" data-category="all">All Videos</button>
                {% for category in videoCategories %}
                <button type="button" class="video_tab" data-category="{{ category.id }}">{{ category.name }}</button>
                {% endfor %}
            </div>
            {% endif %}
            {% for record in videos %}
            <div class="col-md-6 col-xs-12 mb-4 video-card" data-category-id="{{ record.category_id ?: '' }}">
                <div class="videos_container">
                    <div class="text-center">
                        {% if record.file %}
                            <video controls="" width="100%"><source src="{{record.file.path}}" type="video/mp4"></video>
                            {% partial 'site/download-link' file=record.file label='Download' %}
                        {% endif %}

                        {% if record.youtube_url %}
                            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" src="{{record.youtube_url}}" width="100%" height="281"></iframe>
                        {% endif %}

                        {% if record.vimeo_url %}
                            <iframe width="100%" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    src="{{record.vimeo_url}}">
                            </iframe>
                        {% endif %}
                    </div>
                    <p class="card_title">{{record.name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if images.count() %}
        <div class="row card-container-row center-xs-down" id="images" style="display: none;">
            {% for record in images %}
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
            {% if record.images and record.images.count() %}
            <div class="col-md-4 col-xs-12 center-xs mb-4">
                <div class="image_container">
                    <div class="text-center">
                        <a href="/media-center/images/{{record.id}}">
                            <img class="card_image_container" src="{{record.images[0].thumb(321,217,{'mode':'crop'})}}" alt="{{record.name}}" title="{{record.name}}">
                            <div class="btn read-more-btn btn-primary">View Images</div>
                            <div class="blur_filter"></div>
                        </a>
                    </div>
                    <span class="card_title" style="min-height: 100px;">{{record.name}}</span>
                </div>
            </div>
            {% endif %}
            {% endspaceless %}
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>
